{% extends "user_auth/base.html" %}
{% load static %}

{% block title %} Selecionar Horário - Healthing Project {% endblock%}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/medicine/horario.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_auth/user_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/medicine/auth_doctor.css' %}">
    <link rel="stylesheet" href="{% static 'css/patient/patient_home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% endblock %}


{% block content %}
    {% include "partials/navbar.html" %}
    <div class="container">
        <br><br>

        <div class="row">
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-3"><img src="{{ medico.foto_perfil.url }}" class="foto-perfil-card" alt=""></div>
                    <div class="col-md">
                        <p style="font-size: 20px" class="p-bold">Dr(a). {{ medico.nome_completo }}<i class="bi bi-patch-check-fill icon-main"></i></p>
                        <p>{{ medico.descricao }}</p>
                    </div>
                </div> 
                <br>
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                
                <hr>
                    
            
                <div class="row">
                    
                        {% for data in datas %}
                        <div class="col-md-3">
                            <a class="link" href="{% url 'agendar_consulta' data.id %}">
                            <div class='selecionar-dia'>
                            <div class="header-dias">
                                <span class="mes">
                                {{ data.data|date:"F" }}
                                </span>
                                
                                <span class="dia-semana">
                                {{ data.data|date:"l"}}
                                </span>
                            </div>
            
                            <div class="conteudo-data">
                                {{ data.data }}
                            </div>
                            </div>
                        </a>
                        <br>
                        </div>
                   {% endfor %}
                    
                </div>

            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>
{% endblock %}